.BooksList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book {
    /* width: 300px; */
    margin: 20px;
    padding: 40px;
    background-color: #efefef;
}

.img {
    box-shadow: 7px 7px 15px #787878;
    margin-bottom: 20px;
}

.title, .authors,.categories {

    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.categories {
    color: #787878;
    text-decoration: underline;
}

.title {
    color: black;
    font-size: 16px;
}

.authors {
    color: #787878;
}