.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: black;
    margin-bottom: 40px;
}

.title {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 30px;    
}

.search {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0;
    margin-bottom: 20px;
}

.fldSearch {
    width: 400px;
    height: 25px;
    font-size: 20px;
}

.btnSearch {
    width: 31px;
    height: 31px;
    border: none;
    background: none;
    background-color: blue;
    cursor: pointer;
}

.searchFilter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.categories, .strong {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.categories {
    margin-right: 20px;
}

.text {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: 10px;
}